<%= image_tag "/benweek.png" %>

<h3>Show your support by adding the Ben Week badge to your avatar now!</h3>

<div>
  <%= link_to "/auth/twitter" do %>
    <%= image_tag "twitter.png" %>
  <% end %>
</div>
